{% extends 'baseback.html.twig' %}

{% block title %}Edit LocationVehicule{% endblock %}

{% block main %}
    <h1 style="text-align: center; margin-top: 50px;">Edit LocationVehicule</h1>

    {{ include('location_vehicule/_form.html.twig', {'button_label': 'Update'}) }}

     

    {{ include('location_vehicule/_delete_form.html.twig') }}
     <div style="text-align: center;">
    <a href="{{ path('app_location_vehicule_index') }}">Back to list</a>
    </div>
{% endblock %}
