{% extends 'baseback.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block main %}
    
    <h1 style="text-align: center; margin-top: 50px;">Add new Vehicle</h1>
    {{ include('vehicule/_form.html.twig', {'button_label': 'Add'}) }}
   
        <div style="text-align: center;">
            <a href="{{ path('app_vehicule_index') }}">Back to list</a>
        </div>
     </div>
     
    {% block style %}
    <style>
    .body-container  {
    margin-bottom: 120px;
    margin-top: 120px;
}
.body-container a {
    text-align: center;
    display: block; /* Pour occuper toute la largeur disponible */
    margin-top: 20px; /* Ajoutez une marge si nécessaire */
}
.body-container h1{
    margin-bottom: 60px; /* Ajoutez une marge si nécessaire */
}


.form-container form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centre le contenu du formulaire */
}

/* Styles pour les champs du formulaire */
.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Styles pour le bouton du formulaire */
.form-container button {
    background: #047ffc;
    padding: 10px 25px;
    display: inline-block; /* Affiche le bouton en tant que bloc en ligne */
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	
}

.form-container button:hover {
    background: #0250d5;
}
    </style>
    {%endblock%}
{% endblock %}
